<% include ../include/header.ejs%>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <%=art.title%>
        </div>

        <div class="panel-body">
            <%-art.content%>
        </div>

        <% if(user && user._id == art.user){%>

        <div class="panel-footer">
                <a href="/articles/edit/<%=art._id%>" class="btn btn-warning">编辑</a>
        <a href="/articles/delete/<%=art._id%>" class="btn btn-danger">删除</a>
        </div>

        <%}%>
    </div>
</div>
<% include ../include/footer.ejs%>
